{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <center>
            <div class="container">
            <div class="hero-text">
                <b><h1 class="display-4">Unlimited movies, TV shows, and more.</h1></b>
                <p class="hero-p">Watch anywhere. Cancel anytime.</p>
                <p>Ready to watch? Enter your email to create or restart your membership.</p>
                <button class="btn btn-danger btn-lg">Get Started</button>
            </div>
            </div>
        </center>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <!-- Links -->
            <p>
              <a href="#!">FAQ</a>
            </p>
            <p>
              <a href="#!">Investor Relations</a>
            </p>
            <p>
              <a href="#!">Privacy</a>
            </p>
            <p>
              <a href="#!">Speed Test</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <p>
              <a href="#!">Help Center</a>
            </p>
            <p>
              <a href="#!">Jobs</a>
            </p>
            <p>
              <a href="#!">Cookie Preferences</a>
            </p>
            <p>
              <a href="#!">Legal Notices</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <p>
              <a href="#!">Account</a>
            </p>
            <p>
              <a href="#!">Ways to Watch</a>
            </p>
            <p>
              <a href="#!">Corporate Information</a>
            </p>
            <p>
              <a href="#!">Only on Netflix</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <p>
              <a href="#!">Media Center</a>
            <p>
              <a href="#!">Terms of Use</a>
            <p>
              <a href="#!">Contact Us</a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2022 Copyright
        <a href="https://github.com/steve-njuguna-k/Django-Netflix-Clone" target="_blank"> Django Netflix Clone</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->   
{% endblock %}