{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            {% include 'Navbar.html' %}
        </div>
    </div>
    <div class="container movie-details-header">
        <div class="row">
            <div class="col-sm-5 text-center">
                <img src="https://image.tmdb.org/t/p/w500/{{ tv_details.poster_path }}" height="600">
            </div>
            <div class="col-sm-7">
                <h1 class="py-4"><b>{{ tv_details.original_name }}</b></h1>
                <p>{{ tv_details.overview }}</p>
                <h5 class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(252, 180, 0, 1);transform: ;msFilter:;"><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg> {{ tv_details.vote_average }}</h5>
                <br>
                <p><span class="text-muted">Date Released:</span> {{ tv_details.first_air_date }}</p>
                <p><span class="text-muted">Number of Seasons:</span> {{ tv_details.number_of_seasons }}</p>
                <p><span class="text-muted">Genre:</span> {% for genre in tv_details.genres %} {{ genre.name }} {% endfor %}</p>
                <p><span class="text-muted">Status:</span> {{ tv_details.status }}</p>
                <hr>
                <a href="https://www.youtube.com/watch?v={{ newDict.key }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <p><span class="text-light"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="m9 17 8-5-8-5z"></path></svg> Watch Trailer</span></p>
                </a>
            </div>
        </div>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <center>
                        <iframe id="ytplayer" type="text/html" width="854" height="480" src="https://www.youtube.com/embed/{{ newDict.key }}?autoplay=1&origin=http://example.com" frameborder="0"></iframe>
                    </center>
                </div>
            </div>
            </div>
        </div>

        <center>
            <a href="{% url 'Recommendations' %}" style="margin: 100px;">
                <button class="btn btn-danger btn-md text-center">Back to Recommendations</button>
            </a>
        </center>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <!-- Links -->
            <p>
              <a href="#!">FAQ</a>
            </p>
            <p>
              <a href="#!">Investor Relations</a>
            </p>
            <p>
              <a href="#!">Privacy</a>
            </p>
            <p>
              <a href="#!">Speed Test</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <p>
              <a href="#!">Help Center</a>
            </p>
            <p>
              <a href="#!">Jobs</a>
            </p>
            <p>
              <a href="#!">Cookie Preferences</a>
            </p>
            <p>
              <a href="#!">Legal Notices</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <p>
              <a href="#!">Account</a>
            </p>
            <p>
              <a href="#!">Ways to Watch</a>
            </p>
            <p>
              <a href="#!">Corporate Information</a>
            </p>
            <p>
              <a href="#!">Only on Netflix</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <p>
              <a href="#!">Media Center</a>
            <p>
              <a href="#!">Terms of Use</a>
            <p>
              <a href="#!">Contact Us</a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2022 Copyright
        <a href="https://github.com/steve-njuguna-k/Django-Netflix-Clone" target="_blank"> Django Netflix Clone</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->   
{% endblock %}